.add{
  padding-bottom: 1px;
}

.add-book{
  text-align:center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.booklist {
  background-color: #F5F5F5;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 600px;
  width: 100%;
}

.books-heading{
  text-align:center;
}

.cover{
  background-image: linear-gradient(to right, rgb(195, 168, 240) , rgb(93, 175, 207));
  padding: 10%;
}

.title{
  padding-top: 10px; 
  padding-bottom: 10px; 

}

.header {
  background-color:rgb(9, 8, 12);
  padding-top: 30px;
  margin-bottom: 30px;
  margin: 0 auto;
}

.perbook{
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  display: inline-block;
}
 
.sub1{
  display: inline-block;
}


.section1{
  padding-left: 10%;
  padding-right: 10%;
}

.section2{
  background-image: linear-gradient(to right, rgb(195, 168, 240) , rgb(93, 175, 207));
}


.sub1{
  padding-top: 5px;
  padding-right: 300px;
  padding-left: 50px;
}

.sub2{
  padding-top: 100px;
}

.logo{
  border-radius: 50%; 
}

.book{
  text-align:center;
  padding-top: 100px;
  padding-bottom: 100px;
}